@mixin todoItemContainer(
  $dir: row,
  $align: center,
  $justify: center,
  $gap: 0px,
  $width: 80%
) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  padding: 10px;
  width: $width;
}

@mixin borderMixin() {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 4px 4px 1px rgb(0, 0, 0);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
}
