@import "../../assets/css/variables.scss";
@import "../../assets/css/mixin.scss";

.AddTodo {
  @include todoItemContainer(row, center, center, 5px, 400px);

  .form {
    @include todoItemContainer(row, center, center, 10px, 400px);
  }

  .input {
    @include borderMixin();
    height: 40px;
    padding: 5px;
    background-color: #ffffff;
  }
  .submit {
    @include borderMixin();
    height: 53.33px;
    padding: 5px;
    background-color: #ffffff;
  }
}
