/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", serif;
}

h1 {
  font-size: 42px;
}

h3 {
  padding-left: 30px;
  padding-right: 30px;
}

main {
  background-color: rgb(232, 227, 202);
}

/* Nav Section */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapNavButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.wrapNavButtons button {
  background-color: #e5b531;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 5px 5px;
  align-self: flex-end;
  padding: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 30px;
  font-size: large;
  z-index: 99;
}

/* NAVBAR SUPERIORE */

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navBar button {
  background-color: #e5b531;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 5px 5px;
  align-self: flex-end;
  padding: 5px;
  border-radius: 50%;
  width: 50px;
  height: 80px;
  line-height: 30px;
  font-size: large;
  z-index: 99;
  font-size: 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

/* Robo Section */

.robo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  min-width: 300px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.robo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 160px;
  background-color: #f9f5ea;
  border-radius: 12px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.robo img {
  margin-top: -25%;
  height: 180px;
  object-fit: cover;
  border: 10px black;
  z-index: 0;
}

.robo h4,
p {
  margin: 4px 0;
  padding: 4px 0;
}

.robo .text {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  height: 100%;
}

.columnL {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columnR {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* BUTTONS */
.recommended button {
  background-color: #e5b531;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 5px 5px;
  align-self: flex-end;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 30px;
  font-size: large;
  z-index: 99;
}
