@import "../../assets/css/variables.scss";
@import "../../assets/css/mixin.scss";

.todoCard {
  background-color: $background-color;
  @include todoItemContainer(row, center, space-between, 20px);
  @include borderMixin;
  max-width: 400px;
  transition: background-color 0.3s;
  cursor: pointer;

  &.active {
    background-color: $checked-bg-color;

    .checkbox {
      background-color: $background-color;
    }
  }

  .paragraph {
    margin-left: 30px;
    font-size: 24px;
  }

  .inputWrap {
    @include todoItemContainer(column, center, center, 20px);
    max-width: fit-content;
  }

  .checkbox {
    @include borderMixin;
    appearance: none;
    width: 40px;
    height: 40px;
    outline: none;
    cursor: pointer;
    background-color: $button-color;
  }

  .closeButton {
    @include borderMixin;
    appearance: none;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: $erase-button-color;
  }
}
