.Instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 30px;
  height: 100vh;

  ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
