@import "../../assets/css/variables.scss";
@import "../../assets/css/mixin.scss";

.todoCard {
  background-color: $background-color;
  @include todoItemContainer(row, center, center, 20px);
}

.todoCard-checked {
  background-color: $checked-bg-color;
  color: $text-color;
  @include todoItemContainer(row, center, center, 20px);
  text-decoration: line-through;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid $text-color;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
  background-color: $checked-bg-color;
}

input[type="checkbox"]:checked {
  border-color: $text-color;
  background-color: $background-color;
  color: $text-color;
}
