@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  margin: 0;
  font-family: "Press Start 2P", system-ui;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
